/****** Navi ******/

.navbar-custom {
	background-color: #393E46;
}

.navbar-brand {
    padding-left: 10px;
    color: gainsboro;
}

.nav-link, .nav-link:hover, a:hover {
    color: #a6caff
}

.navbar-toggler-icon {
    border: 1px solid gainsboro;
}

/****** Body, etc. ******/

body {
    background-color: #1b1d20;
    color: gainsboro;
    font-size: 20px;
}

.container {
    padding-top: 70px;
    text-align: justify;
}

.row {
    padding-top: 20px;
}

h2 {
    text-align: center;
}

dl,
ol,
ul {
 margin-top:0;
 margin-bottom:1rem;
 text-align: left;
}

.carousel {
    padding: 20px;
}

.card-body {
    background-color: #1b1d20;
}

.fa-regular, .fa-solid {
    font-size: xx-large;
}

.logos {
    background-color: #393E46;
}
   
#skills {
    text-align: center;
    padding-top: 20px;
    margin-top: 50px;
    background-color: #393E46;
}

#c-courses {
    padding-bottom: 70px;
}

/****** Accordion ******/

.accordion-button, .accordion-button:not(.collapsed) {
    color: gainsboro;
    background-color: #393E46;;
}

.accordion-body {
    padding:1rem 1.25rem;
    color: #1b1d20;
   }

.accordion-body > p > a, li > a, li > a:hover {
    color: #1b1d20;
}
   
/****** Footer ******/

.page-footer {
    background-color:#393E46;
}
