:root {
    --blue: #97B0BA;
  }


/****** Navi ******/

.navbar-custom {
	background-color: var(--blue);
}

.navbar-brand {
    padding-left: 10px;
}

.nav-link, .nav-link:hover, a:hover, a {
    color: #1b1d20;
}

.navbar-toggler-icon {
    border: 1px solid gainsboro;
}

/****** Body, etc. ******/

body {
    /* background-color: #393E46; */
    color: #1b1d20;
    font-size: 20px;
}

.container {
    /* padding-top: 70px; */
    text-align: justify;
}

.row {
    padding-top: 20px;
}

h2 {
    text-align: center;
}

dl,
ol,
ul {
 margin-top:0;
 margin-bottom:1rem;
 text-align: left;
}

.carousel {
    padding: 20px;
}

/* .card-body {
    background-color: #1b1d20;
} */

.fa-regular, .fa-solid, .fa-brands {
    font-size: xx-large;
}

.logos {
    background-color: #393E46;
}
   
#skills {
    text-align: center;
    padding-top: 20px;
    /* margin-top: 50px; */
    background-color: var(--blue);
}

#c-courses {
    padding-bottom: 70px;
}

/****** Accordion ******/

/* .accordion-button, .accordion-button:not(.collapsed) {
    color: gainsboro;
    background-color: #393E46;;
}

.accordion-body {
    padding:1rem 1.25rem;
    color: #1b1d20;
   }

.accordion-body > p > a, li > a, li > a:hover {
    color: #1b1d20;
} */
   
/****** Footer ******/

.page-footer {
    background-color: var(--blue);
}


/******* slideshow ********/

.carousel-inner {
    display: flex;
  }
  
  .carousel-item {
    transition: transform 0.6s ease;
  }
  
  .carousel-control-prev, .carousel-control-next {
    width: 5%;
    color: #000;
  }
  
  .carousel-indicators {
    position: static;
    margin-top: 20px;
  }
  
  .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #fff;
  }
  